.env
.env lama
data/*.json
data/*.jsonl
data/*.csv
*.db
*.db-wal
*.db-shm
*.sqlite
node_modules/
npm-debug.log*

# Documentation Flows
docs/

# Gemini Config
.geminirules
.gemini/clob_creds.json
scratch/
version-29juni/
